body { background-color: rgb(192, 192, 192);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

    h5 {
    color: rgb(139, 15, 15);
    text-align: right;
    }
    
    table {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        max-width: 850px;
      
    }
    
    tr {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center; 
    }
    
    td {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center; 
    }

    br{
        margin: 10px;
    }
    input{
        width: 150px;
        
    }
    